@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.contact-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: center;
}

.contact-container h1 {
  color: #613594;
}
.contact-box {
  background: #fff;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #613594;
  color: white;
}

.contact-container p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #613594;
}

button {
  background: #613594;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 30px;
  outline: none;
  margin-top: 20px;
  color: white;
  box-shadow: 0px 5px 15px 0px #9370db;
}

h5 {
  font-size: 2rem;
}
.contact-left h5 {
  color: #613594;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h5 {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td:first-child {
  padding-right: 20px;
}

/* root */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: wheat;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.nav-container {
  width: 100%;
  background-color: #24262b;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
}

#navbar-logo {
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links:hover {
  color: #9370db;
  transition: all 0.3s ease-out;
}

.nav-links-btn {
  font-size: 1.1rem;
  background-color: #613594;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}
.nav-links-btn a {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.nav-links-btn:hover {
  color: #9370db;
  background-color: transparent;
}

/* RESPONSIVE */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: white;
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: red;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background: grey;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #613594;
    color: white;
    transition: all 0.4s ease;
  }

  .navbar {
    width: 100%;
  }

  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: gray;
    color: white;
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: #613594;
    color: white;
    transition: all 0.4s ease-out;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* DISPLAY */

h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 4rem;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 3.5rem;
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.container {
  width: 80vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(28, 26, 26);
  background: linear-gradient(90deg, #613594 0%, #613594 100%);
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 white;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#holbertonimg {
  width: 400px;
  height: 200px;
}

#highscore-btn {
  background: linear-gradient(90deg, #613594 0%, rgb(240, 221, 6) 100%);
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 white;
}

/* FOOTER*/

.footer__container {
  background-color: #24262b;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h4 {
  margin-bottom: 16px;
}

.footer__link--items > h4 {
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #9370db;
  transition: 0.3s ease-out;
}
