.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 75%;
  margin: 0 auto;
  height: 80vh;
  background-color: green;
}

.main-content {
  justify-self: start;
  margin-left: 20px;
  color: white;
  width: 80%;
  background-color: blue;
}

.main-content h1 {
  font-size: 1rem;
}

.main-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.main-btn {
  font-size: 1rem;
  background-color: red;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  border-radius: 4px;
  background: rgb(76, 103, 221);
}

.main-btn:hover {
  color: white;
}

.main-btn:hover:after {
  width: 100%;
}

.main-img-container {
  text-align: center;
}

#main-img {
  height: 80%;
  width: 80%;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    background-color: ;
  }

  .main-content {
    justify-self: center;
    color: white;
    width: 80%;
    margin: 0;
  }

  .main-content h1 {
    font-size: 2.5rem;
  }

  .main-content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #main-img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 2.8rem;
  }

  .main-content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main-btn {
    padding: 12px 36px;
    margin-top: 2.5rem;
  }
}
