body {
  color: #fff;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 50%;
  height: 55px;
  border-radius: 8px;
  background: #613594;
  font-size: 2rem;
  min-width: 70rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 white;
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-text {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.correct {
  background: linear-gradient(
    32deg,
    rgba(11, 223, 36) 0%,
    rgb(41, 232, 111) 100%
  );
}

.incorrect {
  background: linear-gradient(
    32deg,
    rgba(230, 29, 29, 1) 0%,
    rgb(224, 11, 11, 1) 100%
  );
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-evenly;
  width: 1120px;
  height: 150px;
}
.hud-prefix {
  text-align: center;
  font-size: 1rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 15rem;
  height: 3rem;
  border: 0.2rem solid rgb(11, 223, 36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
}

/* Audio Player */

.player {
  width: 640px;
  background-color: #613594;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-gap: 16px;
  padding: 8px 24px;
  position: relative;
  border-radius: 64px;
  margin-top: 35px;
}

.control,
#current {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

#playbtn {
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  cursor: pointer;
}

#playbtn:hover {
  -webkit-text-fill-color: white;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#current {
  text-align: right;
}

.bar {
  --space: -4px;
  background-color: #24242424;
  overflow: hidden;
  left: var(--space);
  right: var(--space);
  top: var(--space);
  bottom: var(--space);
  position: absolute;
  border-radius: 64px;
  z-index: -2;
}

#progress {
  display: block;
  width: var(--progress, 0%);
  background-color: white;
  transition: all 0.5s linear;
  height: 100%;
}
